project:
  type: website
  output-dir: docs
  render:
    - "*.qmd"

website:
  title: "website"
  navbar:
    right:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

